<!-- Footer -->
<footer id="footer">
	<!--
  <ul class="icons">
    <li><a href="https://twitter.com/foolonhill" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://github.com/Odrakir" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="http://stackoverflow.com/users/942420/odrakir" class="icon fa-stack-overflow"><span class="label">Stackoverflow</span></a></li>
    <li><a href="https://www.linkedin.com/pub/ricardo-sánchez-sotres/3a/662/731" class="icon fa-linkedin"><span class="label">Stackoverflow</span></a></li>
    <li><a href="mailto:odrakir@gmail.com" class="icon fa-envelope"><span class="label">Mail</span></a></li>
  </ul> 
-->
  <ul class="copyright">
    <li>&copy; Ricardo Sánchez Sotres. All rights reserved.</li>
  </ul>
</footer>